.login-in-container {
    display: flex;
    justify-content: center;
}

.application-description {
    max-width: 500px;
    margin-right: 30px;
}
.login-in-form-container {
    width: 500px;
    display: flex;
    justify-content: center;
}

.form-signin h1 {
    margin-bottom: 30px;
}
